<div id="home" data-anchor-scroll="home" class="home">
    <div class="home__wrapper">
        <div class="home__canvas">
            <!-- 
                <video class="only-mobile" data-video autoplay muted playsinline>
                <source src="./assets/videos/home--mobile.mp4" type="video/mp4" />
                Seu navegador não suporta vídeos.
            </video>
            <video class="only-desktop" data-video autoplay muted playsinline>
                <source src="./assets/videos/home--desktop.mp4" type="video/mp4" />
                Seu navegador não suporta vídeos.
            </video>
            <a class="home__canvas-button" href="javascript:;" data-sound-button>
                <i class="icon icon--sound"></i>
            </a> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL1_yjSzjd8YJghm8TI9iq0T5kzkO_Q6ta&controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <!-- <div class="home__canvas only-desktop">
            <iframe src="./3d.html" frameborder="0"></iframe>
            -->
        </div>
    </div>
</div>
