<div id="intro" class="intro">
    <div class="intro__wrapper">
        <p>Are you in a simulation?</p>
        <div class="intro__buttons">
            <a href="./home">Yes</a>
            <a href="./home">No</a>
        </div>
    </div>
</div>
