<div class="footer">
     <img src="./assets/images/logos/sodamnbright.png" alt="So Damn Bright" style="width: 80px;">
    <img class="restricted" src="./assets/images/logos/restricted.png" alt="Restricted">
    <img src="./assets/images/logos/yumusick.png" alt="Yumusick">
</div>


{{> components/tooltip }}
