<header class="header">
    <div class="header__wrapper">
        <a class="header__logo only-mobile" href="./">
            <img src="./assets/images/logos/yumusick.png" alt="Yumusick">
        </a>
        <label class="header__button" for="header__button-input" data-header-label>
            <input type="checkbox" id="header__button-input" data-header-toggle />
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header__nav" data-header-nav>
            <ul class="header__menu">
                <li><a title="Home" href="./" class="header__nav-link header__nav-link--first" data-header-link="">Home</a></li>
                <li><a title="Listen" href="./listen" class="header__nav-link" data-header-link="listen">Listen</a></li>
                <li><a title="Store" target="_blank" href="https://www.lolja.com.br/busca?q=ben+yur" class="header__nav-link" data-header-link="store">Store</a></li>
                <li><a title="Links" href="./links" class="header__nav-link" data-header-link="links">Links</a></li>
                <li><a title="Playlist" href="./playlist" class="header__nav-link" data-header-link="playlist">Playlist</a></li>
            </ul>
        </nav>
    </div>

</header>
