<div class="tooltip">
    <input class="tooltip__checkbox" type="checkbox" />
    <div class="tooltip__button"><i class="icon icon--code icon--small"></i></div>
    <div class="tooltip__content">
        <span>website: <a href="https://rinaldilucas.com" target="_blank" title="Go to developer website">@lfrinaldi</a></span>
        <span>unit3d: <a href="https://www.instagram.com/rog_bucheroni/" target="_blank" title="Go to developer website">@rog_bucheroni</a></span>
        <span>design: <a href="https://www.instagram.com/oinkhimself/" target="_blank" title="Go to developer website">@oink</a></span>
    </div>
</div>
